@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Dancing+Script&family=Montserrat:wght@100;200&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

    :root{
        --corprincipal :  rgb(26, 135, 224);
        --corsecundaria : rgb(8, 101, 177);
        --corternaria: rgb(92, 241, 23);
    }

header{
    background-color: rgb(8, 101, 177);
}

body{
    background-color: rgb(26, 135, 224);
    font-family: 'Quicksand', sans-serif;
}

main{
    margin-top: 100px;
}

input{
    width: 300px;
    height: 45px;
    box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.479);
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
    border-style: none;
}

nav{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

nav a{
    color: white;
    font-size: 17px;
    padding: 5px;
    text-decoration: none;
}

main{
    height: 80vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

footer{
    width: 100%;
    height: 200px;
    background-color: var(--corsecundaria) ;
    bottom: 0%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0%;
}

.cabecalho h1{
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.5);
}

.logo h1{
    
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 30px;
}

.logo h1 label{
    font-weight: 600;
}

.titulo{
    display: flex;
    justify-content: space-around;
    margin-top:10px;
    margin-bottom: 20px;
}
.pesquisa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.bottomS{
    background-color: var(--corternaria);
    color: #ffff;
    font-size: 30px;
    font-weight: bold;
    border-radius: 100px;
    padding: 10px;
    box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.288);
}

.titulo{
    display: flex;
    justify-content: space-around;
    margin-top:10px;
    margin-bottom: 20px;
}

.titulo h1{
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color: #ffff;
    padding: 20px;
    margin: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

body::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
  }





